<!-- gorra.component.html -->
<div class="container mt-5">
  <div class="row">
    <!-- Título del producto -->
    <div class="col-12 text-center mb-4">
      <h5 class="product-title">
        {{gorra?.nombre}}
      </h5>
    </div>

    <!-- Imagen del producto -->
    <div class="col-md-6 product-image-container">
      <img [src]="gorra?.imageUrl" class="product-image" [alt]="gorra?.nombre">
    </div>

    <!-- Detalles del producto -->
    <div class="col-md-6 d-flex flex-column justify-content-between product-details">
      <div>
        <p class="product-label">Precio:</p>
        <p class="product-price">$ {{gorra?.precio}}</p>
        <p class="product-description">Impuesto incluido.</p>
        <br>
        <p class="product-label">Descripción:</p>
        <p class="product-description">{{gorra?.descripcion}}</p>
        <br>
      </div>
      <a class="btn boton mt-auto" (click)="addToCarrito()">Comprar</a>
    </div>
  </div>
</div>

