<div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h5 class="card-title" style="font-size: 55px; font-weight: 900; color: rgb(200, 200, 200);">
          {{gorra?.nombre}}
        </h5>
      </div>
      <div class="col-md-6 text-center" style="background-image: url('/imagenes/fondoProducto.png'); background-size: cover; background-position: center;">
        <img [src]="gorra?.imageUrl" class="card-img-top img-fluid" [alt]="gorra?.nombre" style="max-width: 100%; height: auto;">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-between">
        <div>
          <p style="font-size: 25px; font-weight: 750;" class="coloLetras">Precio:</p>
          <p class="card-text" class="coloLetras">$ {{gorra?.precio}}</p>
          <p class="coloLetras">Impuesto incluido.</p>
          <br>
          <p style="font-size: 25px; font-weight: 750;" class="coloLetras">Descripción:</p>
          <p class="card-text" class="coloLetras">{{gorra?.descripcion}}</p>
          <br>
        </div>
        <a class="btn btn-primary mt-auto" class="boton" style="align-items: center; display: flex; justify-content: center; font-weight: 700; margin-top: auto;">Comprar</a>
      </div>
    </div>
  </div>
  