
<div class="container mt-5">
    <h2>Carrito de Compras</h2>
    <div *ngIf="productos.length === 0">
      <p>El carrito está vacío.</p>
      <button class="btn btn-dark" (click)="volverComprar()">Volver a Comprar</button>
    </div>
    <div *ngIf="productos.length > 0">
      <div *ngFor="let producto of productos" class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="producto.imageUrl" class="card-img" [alt]="producto.nombre">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">$ {{producto.precio}}</p>
              <button class="btn btn-danger" (click)="removeFromCarrito(producto)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3>Total: $ {{getTotal()}}</h3>
        <button class="btn btn-warning" (click)="clearCarrito()">Vaciar Carrito</button>
        <button class="btn btn-dark" (click)="seguirComprando()">Seguir Comprando</button>
        <!-- <button class="btn btn-danger" (click)="()">Seguir Comprando</button> -->
        <button class="btn btn-dark" (click)="pagar()">Pagar</button>

    </div>
    </div>
  </div>
  