.carrito-compras {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carrito-compras h2 {
  color: #ffff;
  border-bottom: 1px solid #444444;
  padding-bottom: 10px;
}

.producto-card {
  background-color: #0f0d0d;
  border: 1px solid #444444;
  color: #ffffff;
  transition: transform 0.2s ease;
}

.producto-card:hover {
  transform: scale(1.02);
}

.producto-img {
  height: 300px; /* Ajusta el alto según sea necesario */
  width: 100%; /* Ajusta el ancho para que se adapte al contenedor */
  object-fit: cover; /* Asegura que la imagen se ajuste sin distorsión */
}

.card-body h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-body p {
  font-size: 16px;
  margin-bottom: 10px;
}

.button-group .btn-custom {
  margin-right: 10px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
}

.carrito-compras h3 {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  border-top: 1px solid #444444;
  padding-top: 10px;
  margin-top: 20px;
}
